* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

nav {
    background-color: black;
    padding: 5px 25px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-links {
    display: flex;
    align-items: center;
}

nav .nav-links ul {
    margin-right: 20px;
    list-style: none;
    padding: 0;
    margin: 20px;
    display: flex;
    align-items: center;
}

nav .nav-links ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

nav .nav-login a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

#img-logo {
    height: 80px;
}

.secao {
    height: 100%;
    padding: 25px;
    color: white;
    background-color: black;
    border-bottom: 8px rgba(63, 63, 63, 0.589) solid;
}

.div-bloco {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
}

.div-bloco p {
    letter-spacing: 2px;
    font-size: 15px;
}

.div-bloco img {
    width: 90%;
    margin: 0 auto;
    transition: 0.3s;
    border: rgba(255, 255, 255, 0.259) solid 4px;
    border-radius: 4px;
}

.div-bloco img:hover {
    transition: 0.3s;
    opacity: 0.5;
}

#id-secao1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url('../img/fundo-secao1.png') no-repeat center fixed;
    background-size: cover;
    color: white;
}

#id-secao1 h1 {
    font-size: 50px;
}

#id-secao1 p {
    width: 70%;
    margin-bottom: 150px;
    text-align: center;
}

footer {
    background-color: rgb(37, 37, 37);
    color: white;
    position: fixed;
    padding: 15px 20px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: start;
}

footer #instagrams {
    display: grid;
    grid-template-columns: 20px 50px;
    gap: 3px;
    width: 20%;
    margin-left: 40px;
}

footer #instagrams img {
    width: 18px;
}

footer #instagrams a {
    text-decoration: none;
    color: white;
}

#body-login {
    height: auto;
    background-color: black;
}

#section-forms {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    background-color: rgba(255, 255, 255, 0.76);
    border-radius: 4px;
    width: 320px;
    margin: auto;
    padding: 60px 20px;
}

form h1 {
    text-align: center;
}

input {
    width: 60%;
    padding: 6px;
    margin-bottom: 16px;
    border: solid 2px grey;
    border-radius: 4px;
}

input[type=radio] {
    width: auto;
}

input:focus {
    outline: none;
}

label {
    margin-bottom: 16px
}

button {
    padding: 4px;
}

#div-botao {
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

#body-pesquisa {
    background-color: rgba(128, 128, 128, 0.375);
}

#section-pesquisa {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    display: flex;
    align-items: center;
}

#section-pesquisa img {
    margin: 20px;
}

#section-pesquisa form {
    margin-top: 40px
}

#section-pesquisa div {
    display: flex;
    flex-direction: column;
}

#section-pesquisa input[type=text] {
    width: 100%;
}

#section-pesquisa select {
    padding: 4px;
    width: 100%;
    border-radius: 4px;
}

#section-pesquisa label {
    margin: 0;
    margin-top: 16px;
    margin-bottom: 4px
}